<div class="page-container max-w-3xl mx-auto px-4 py-24 md:py-32 font-sans text-xs tracking-widest uppercase text-black">
  <h1 class="text-sm font-normal tracking-[0.2em] mb-12 text-center">{{ page.title }}</h1>
  
  <div class="page-content text-neutral-600 font-sans tracking-wide leading-relaxed normal-case font-light text-[11px]">
    {{ page.content }}
  </div>
</div>
